
<a href="/contacts/new" class="add_contact">Add a new contact</a>

<p class="total_contacts">There are <strong><%=@contacts.size%></strong> contacts</p>

<form action='/contacts/search' method='post'>
  <label for="search">Search for: </label>
  <input type='text' id="search" name='search'>
  <input type='submit' value='Search'>
</form>

<% if @contacts.empty? %>

<div class="contacts">
  <h2>Sorry, contact not found</h2>

<% else %>

  <% @contacts.each do |contact| %>
    <div class="contacts">
      <h2><%= contact.first_name %> <%= contact.last_name %>
      <% if contact.email != ""%>
          (<%= contact.email %>)</h2>
      <%end%> <br>

      <a href="/contacts/<%=contact.id%>/edit">Edit</a> <span>|</span>
      <a href="/contacts/<%=contact.id%>">Contac page</a>
      </div>
  <% end %>
<% end %>
